/* Tag Element definitions */
html {
    box-sizing: border-box;
}

body{
    background-color: #444;
    color: white;
}


/* Class definitions*/

.page-container{
    position: relative;
    min-height: 100vh;
}
.wrapper {
    padding-bottom: 2.5rem;
}
.navIcon{
    height: 40px;
    margin-top: -10px;
    margin-bottom: -10px;
}

/* ID Definitions */

#betweenHeader{
    text-align: center;
}

#main_content{
    margin-top: 15px;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #222222;
    height: 2.5rem;
}
